/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  November 3rd 2009 10:23:31 AM PST                            */
/*      Machine:  10.16.140.102                                                */
/*       Source:  Local Cache                                                  */
/*     Location:  rsrc:4:12wn9ev9                                              */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/9puf062v3o4csoc4.pkg.css                                 */

.text_exposed_root{display:inline}
.text_exposed .text_exposed_show{display:inline}
.text_exposed_show,
.text_exposed .text_exposed_hide{display:none}
.text_exposed_link{background:url(/rsrc.php/z7KPM/hash/wd2dquny.gif) no-repeat right 1px;font-size:9px;font-weight:bold;padding:0 12px 0 0;white-space:nowrap}
.UIActionLinks_title{font-size:9px;font-weight:normal;white-space:nowrap;color:#999}
.has_body .UIActionLinks_title{display:none}
.log_mode .has_body .UIActionLinks_title{display:inline}
.UIActionLinks_bottom,
.UIActionLinks_left,
.UIActionLinks_right{color:#999}
.UIActionLinks_left{float:left}
.UIActionLinks_right{float:right}
.from_friend_story_content_container .UIActionLinks_bottom,
.has_body .UIActionLinks_bottom,
.story_body .UIActionLinks_bottom{clear:both;display:block}
.log_mode .UIActionLinks_bottom{display:none}
.tab_status_updates .UIActionLinks_title{font-size:11px}
.commentable_item .comment_box{clear:both;font-size:11px;overflow:hidden;padding:2px 0 0 0}
.commentable_item .comment_box_nub{background:url(/rsrc.php/z26UC/hash/cvb152d4.png) no-repeat -930px -69px;clear:left;height:5px;margin:0 0 0 17px;overflow:hidden;width:9px}
.collapsed_comments .comment_box{display:none}
.action_links_title .comment_link,
.action_links_bottom .comment_link,
.UIActionLinks .comment_link{color:#3b5998;font-weight:normal;vertical-align:text-bottom}
.action_links_title .comment_link:hover,
.action_links_bottom .comment_link:hover,
.UIActionLinks .comment_link:hover{text-decoration:underline}
.tab_status_updates .feed_item .comment_box{margin-left:46px}
.story_ff .comment_box{margin-left:57px}
.story_ff .size_1 .comment_box{margin-left:0}
.commentable_item .comment_box .feed_comment_pic{border:0;left:0;top:0}
.no_comments .comment_box .comments_list_wrapper{display:none}
.commentable_item .comment_box .x_to_hide{background:transparent url(/rsrc.php/z26UC/hash/cvb152d4.png) no-repeat -844px -64px;border:medium none;margin-left:3px;margin-top:-1px;float:right;overflow:hidden;padding:1px 5px 0;width:3px}
.commentable_item .comment_box .x_to_hide:hover{background-position:-856px -64px;background-color:#3b5998}
.commentable_item .ufi_section{background-color:#eceff5;border-bottom:1px solid #e5eaf1;clear:left;float:none;overflow:hidden;margin-bottom:2px;padding:6px 4px 3px 6px;width:350px}
.commentable_item form .comment_add_row{margin-bottom:0}
.commentable_item .comment_box .comment_add_row{float:left}
.commentable_item .comment_box .comments_cutoff_notice{text-align:center;display:none}
.commentable_item .comment_box .comments_cutoff .comments_cutoff_notice{display:block}
.commentable_item .comment_box .comments_add_box{border:0;padding:0;margin-bottom:0}
.commentable_item .comment_box .comments_add_box .add_comment_box_wrapper{position:relative;margin-left:0;margin-bottom:4px}
.hidden_add_comment .comment_add_row{display:none}
.hidden_add_button .comment_box .comments_add_box .inline_comment_buttons{display:none}
.commentable_item .comment_box .comments_add_box .inline_comment_buttons{padding:0 0 6px 42px}
.commentable_item .comment_box .comments_add_box .comments_add_box_submit{float:right;width:auto}
.commentable_item .comment_box .comments_add_box .comments_add_box_controls{float:none;width:205px}
.commentable_item .comment_box .comments_add_box .inline_comment_buttons .UIButton{margin:0 5px 0 0}
.commentable_item .comment_box .comment_actions{color:#777;padding-top:2px}
.commentable_item .comment_box .comment_author{font-weight:bold}
.commentable_item .comment_box .comment_actual_text{display:inline;padding-left:.4em}
.commentable_item .comment_box .comment_meta_data{font-size:9px;font-weight:normal}
.commentable_item .comment_box .comment_credits{margin-left:4px}
.commentable_item .ufi_section .report_link{float:right;margin-right:3px}
.commentable_item .comment_box .comments_add_box .comments_add_box_image{float:left;padding-right:7px}
.hidden_add_button .comment_box .comments_add_box .one_row_add_box .comments_add_box_image{display:none}
.commentable_item .comment_box .comments_add_box textarea{min-height:29px;height:29px;margin:0;overflow:auto;resize:none;width:298px}
.hidden_add_button .comment_box .comments_add_box .one_row_add_box textarea{min-height:14px;height:14px;width:340px}
.comment_box .comment_error_target{display:none}
.comment_box .has_error .comment_error_target{display:block}
.autoexpand_mode .feedback_toggle_link{display:none}
.feedback_toggle_link .feedback_show_link,
.collapsed_comments .feedback_hide_link{display:none}
.collapsed_comments .feedback_show_link{display:inline}
.commentable_item .comment_highlighted{background:#ccdff5}
.flash_fallback{background:#f4f8fc;border:1px solid #d8dfea;clear:both}
.flash_fallback_border{border:1px solid white;padding:5px 10px 5px 10px}
.flash_fallback_header{background:transparent url(/rsrc.php/zSQ3W/hash/c6mhnun0.gif) no-repeat center left;color:#282c30;font-size:11px;font-weight:bold;line-height:14px;padding:5px 0 5px 22px;text-align:left}
.flash_fallback_explanation{line-height:14px;margin-top:-3px;padding:0 0 5px 22px;text-align:left}
.flash_fallback_button{padding:3px 0 5px 0;text-align:center}
.expressinstall_swf{padding:15px 0 15px 0;text-align:center}
.like_box{overflow:hidden}
.like_box .pictures_container{padding-top:5px}
.commentable_item .like_box .ufi_section{padding-bottom:0}
.no_likes{display:none}
.like_box .like_sentence_container{padding:0 0 5px 0;position:relative;overflow:hidden}
.like_exists .like_sentence_not_exists,
.like_not_exists .like_sentence_exists{position:absolute;top:0;left:0}
.like_box .like_users{margin-left:6px;width:320px}
.like_exists .like_component_not_exists{display:none}
.like_not_exists .like_component_exists{display:none}
.hidden_separator{display:none}

#bootloader_css_9puf062v3o4csoc4_pkg_css { height: 42px; }