/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  October 27th 2009 9:38:43 AM PDT                             */
/*      Machine:  10.16.139.107                                                */
/*       Source:  Local Cache                                                  */
/*     Location:  rsrc:4:564swm0a                                              */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/3vi11zh8tv28sgg0.pkg.css                                 */

.UIErrorFlag{background:url(/rsrc.php/z9D57/hash/4ch2qx47.gif) top left no-repeat;padding:0 0 0 10px;position:absolute;top:2px;width:200px;z-index:2}
.UIHelpFlag_Block{background:url(/rsrc.php/z7FP1/hash/aywdtzif.gif) top left no-repeat;width:261px;margin:0 0 20px -11px;position:relative}
.UIHelpFlag_Close{position:absolute;right:6px;top:6px;background:url(/rsrc.php/z7QQO/hash/6966n8tx.gif) center center no-repeat;height:16px;width:15px}
.UIHelpFlag_Close:hover{background-color:#f9efb3}
.UIHelpFlag_Block .UIHelpFlag_Inner{background-color:#fff9d7;border-bottom:1px solid #e2c822;display:block;margin-left:11px;padding:8px 12px 12px 10px}
.UIHelpFlag_Title{display:block;font-weight:bold;margin:0 0 6px 0}
.UIErrorFlag_MultiField{top:10px}
.UIErrorFlag .UIErrorFlag_Inner{background-color:#ffebe8;border-bottom:1px solid #eb8266;display:block;padding:4px 7px 3px 9px}
.field_container{display:inline-block;padding:1px;position:relative;width:auto}
.ie7 .field_container,
.ie6 .field_container{display:inline}
.error_field{background:#dd3c10}
.error_field input.inputtext,
.error_field input.inputpassword,
.error_field #captcha_response{border-color:#dd3c10}
.error_field input:focus,
.error_field select:focus,
.error_field input#captcha_response:focus{outline:0}
.language .banner_wrapper{background:#edeff4 url(/rsrc.php/z8OIN/hash/enyi8d10.gif) repeat-x left bottom;padding:56px 0 30px 0;margin-bottom:20px}
.UIPage_LoggedOut .language_container .banner_wrapper{margin-top:-85px;padding-top:114px}
.language .banner,
.language .content{margin:0 auto;width:736px}
.language .header{margin-bottom:20px}
.language .banner h1{font-size:19px;margin-bottom:5px}
.language .banner h2{color:#666;font-size:14px;font-weight:normal;line-height:1.4em;margin:0}
.language #language_container{background:transparent url(/rsrc.php/zAZ9Y/hash/72jxmfsz.gif) no-repeat center 50%}
.dialog_body .language #language_container{background:none}
.welcome_useragent{margin:0 auto 0;padding:20px;position:relative;width:964px}
.welcome_useragent .language #language_container{background:none}
.welcome_useragent .language ul{display:inline}
.welcome_useragent .language li{display:inline;float:left;direction:ltr;padding:0 11px 0 0;margin:0}
.welcome_useragent .language li .chevron{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:18px;line-height:10px;word-spacing:-1;padding:0;margin:0}
.linear_language ul{display:inline}
.linear_language li{display:inline;float:left;direction:ltr;padding:10px 11px 0 0;margin:0;white-space:nowrap}
.linear_language li span{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:18px;line-height:10px;word-spacing:-1;padding:0;margin:0;white-space:nowrap}
.language table.locale_selector{border:0;width:100%}
.dialog_body .language table.locale_selector{padding:5px;border:0;width:100%}
.language table.locale_selector td{vertical-align:top;width:28%}
.language table.locale_selector td.last_col{width:16%}
.language table.locale_selector li{padding-bottom:4px;font-size:12px}
.language table.locale_selector span.current{color:#203360;font-weight:bold}
.dialog_body .language table.locale_selector span.current{color:#111;font-weight:bold}
.language table.locale_selector span.highlight{background-color:#fff8cc;margin-left:-3px;padding:1px 3px}
.language table.locale_selector span.beta{color:#808080;font-size:9px}
.language #address_book_login_widget{border-top:0;margin-top:0;padding-top:0}
.language table.editor{margin-bottom:5px}
.language #new_ff .contact_importer_widget #disclaimer{float:left;color:#777;padding:0 0 0 25px;font-size:10px;background:url(/rsrc.php/zAND0/hash/mixby7fn.gif) no-repeat left top;width:200px}
.fb_menubar_logged_out #fb_menubar_logo .fb_logo_link{padding:30px 0 16px 18px}
.fb_menubar_logged_out #fb_menubar_logo .fb_logo_img{background:transparent url(/rsrc.php/z81XI/hash/5yqqx3il.gif) no-repeat top left;height:36px;vertical-align:bottom;width:170px}
.fb_menubar_logged_out #fb_menubar_logo a.fb_logo_link:hover .fb_logo_img{background-position:top left}
#fb_menubar.fb_menubar_logged_out #fb_menubar_aux{float:none}
#fb_menubar.fb_menubar_logged_out{position:relative}
.menu_login_container{position:absolute;bottom:14px;right:18px;width:500px}
.menu_login_container table{float:right}
.menu_login_container table tr{vertical-align:top}
.menu_login_container table tr td{padding:0 0 0 12px}
.menu_login_container table tr td.login_form_last_field{padding-right:0}
.menu_login_container table tr td.login_form_last_field .inner{padding-right:2px}
.ie6 .menu_login_container table tr td.login_form_last_field .inner,
.ie7 .menu_login_container table tr td.login_form_last_field .inner{padding-top:1px}
.menu_login_container .inputtext,
.menu_login_container .inputpassword{border-color:#1d2a5b;margin:0;padding:4px 3px;width:142px}
.ff3 .menu_login_container .inputtext,
.ff3 .menu_login_container .inputpassword{padding-top:3px}
.menu_login_container label{color:#98a9ca;padding:0;margin:0;font-weight:normal}
.menu_login_container a,
.menu_login_container a:hover{color:#98a9ca}
.menu_login_container .login_form_label_field{padding-bottom:3px;text-align:right;vertical-align:middle}
.menu_login_container .login_form_label_field .inputtext{height:14px;margin:0 5px 0 0;padding:0}
.ie6 .menu_login_container .login_form_label_field input,
.ie7 .menu_login_container .login_form_label_field input{vertical-align:middle}
.menu_login_container .login_form_label_remember{padding-top:1px}
.menu_login_container #email{direction:ltr}
#menubar_container .signup_bar_container{background-color:#edeff4;border-bottom:1px solid #d8dfea}
#menubar_container .signup_box{color:#203360;display:block;font-size:13px;font-weight:bold;line-height:normal;padding:14px 22px;width:920px;margin:0 auto}
#menubar_container .signup_box_content{float:left;font-size:13px;font-weight:bold;padding:4px 14px 6px}
#menubar_container .signup_box_submessage{clear:left;display:block;font-size:13px;font-weight:normal;padding:3px 0 0 0}
#menubar_container .signup_box .signup_btn{float:left}
.no_reg_banner #menubar_container .signup_box{display:none}
.simple_registration_container{width:400px;margin:0 auto 0 auto;padding-bottom:30px}
#main_container .UIWindowShade{padding-top:20px}
#main_container{width:600px;margin:0 auto 30px auto}
#reg_form_box{padding-left:30px}
#reg_form_box #extra_selects_hack{display:none}
#main_container .UISimpleMessage_Container{padding:30px}
#main_container #error{margin-top:20px}
#main_container .terms_footer{margin:0 0 40px 2px;padding-top:2px}
.registration #nonfooter .UIFullPage_Container{padding-top:0}
.registration .captcha_input_wrapper{display:table}
.registration #reg_box .label{color:#666;font-weight:bold;padding:6px 10px 0 0}
.registration #reg_box .inputtext,
.registration #reg_box .inputpassword{border-color:#bdc7d8;margin:0}
.registration #reg_form_box .reg_btn{margin:1px 0 0 102px}
.registration #reg_captcha{margin:0 0 0 22px}
.registration #captcha_buttons{clear:left;margin-left:24px}
.registration #reg_captcha h2{color:#222}
.registration #captcha .captcha_input{position:relative}
.registration #captcha .captcha_input input,
.registration #captcha .captcha_input #captcha_response{margin:0;float:none}
.registration #captcha_response{margin-left:0}
.registration #reg_box select{margin:1px 0}
.registration #reg_box .error_field #birthday_month{margin-left:1px}
.registration #reg_box .error_field #birthday_year{margin-right:1px}
.registration #reg_box .error_field #sex{margin:1px 1px}
.registration p.legal_tos{clear:left}
.registration #reg_captcha #captcha div.captcha_input{display:inline-block;overflow:visible}
.registration #reg_captcha #captcha div.captcha_input input{width:auto}
.registration #reg_captcha label{margin-top:3px}
.registration .field_container{margin:2px 0 1px 0}
.registration #reg_captcha .field_container,
.registration #reg_captcha label{float:left}
.confirmation_box .UIRoundedTransparentBox_Inner{display:block;margin-top:60px}
#age_restriction_error{margin-top:40px}
.registration #reg_box .error_field input.inputtext,
.registration #reg_box .error_field input.inputpassword{border-color:#dd3c10}
#reg_ads_msg{color:#666;font-size:11px;font-weight:bold;margin-top:10px;text-align:center}
#reg_pages_msg{border-top-color:#a0a9c0;border-top-style:solid;text-align:center;font-weight:bold;border-top-width:1px;margin-top:10px;font-size:11px;padding-top:10px;color:#666}
.registration #reg_pages_msg{border-top-color:#ccc;margin-top:20px}
.registration .cancel_button_image{background-image:url(/rsrc.php/z1Q24/hash/1v8g26vu.png);background-repeat:no-repeat;float:left;height:17px;margin:6px 0 0;width:12px}
.registration #cancel_button{border:0 solid transparent;color:#3b5998;float:left;font-size:12px;font-weight:bold;line-height:14px;margin:6px 0 0;width:75px}
.async_status{float:left;margin-left:10px;margin-top:7px;width:50px}
.simple_registration_container .tos_container{margin-top:12px} 
.registration .tos_container{margin-left:22px}
#reg_email__{direction:ltr}
.WelcomePage_Container{padding:0;margin:0;background:transparent url(/rsrc.php/z6XUT/hash/bqmhyox3.jpg) bottom center repeat-x}
.WelcomePage_MainSell{margin:0;padding-top:36px;background:transparent url(/rsrc.php/z9P6V/hash/1icttijq.jpg) bottom center no-repeat}
.WelcomePage_MainSellCenter{margin:0 auto;padding:0 12px;width:940px;position:relative}
.WelcomePage_Warnings{padding:0 6px 30px}
.WelcomePage_MainSellLeft{float:left;width:536px;padding-bottom:20px}
.WelcomePage_MainSellRight{width:396px;padding:0;float:right}
.WelcomePage_MainMessage{padding-right:60px;margin:0;margin-top:1px;margin-left:6px;font-size:20px !important;line-height:29px;word-spacing:-1px;color:#203360;font-weight:bold !important}
.WelcomePage_MainMap{width:537px;height:195px;margin-left:-11px;margin-top:20px;background:transparent url(/rsrc.php/z8OGI/hash/41j5eq4v.png) top left no-repeat!important;background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/rsrc.php/z8OGI/hash/41j5eq4v.png", sizingMethod="scale")}
.WelcomePage_SimpleReg{padding:10px 0 20px 0}
.WelcomePage_SignUpSection{padding:0;margin:0;width:388px}
.WelcomePage_SignUpMessage{margin:0;padding:0}
.WelcomePage_SignUpHeadline{font-size:20px !important;line-height:29px;word-spacing:-1px;color:#203360;font-weight:bold !important}
.WelcomePage_SignUpSubheadline{font-size:20px !important;line-height:29px;word-spacing:-1px;padding-top:1px;color:#203360}
.WelcomePage .editor td.label,
.WelcomePage .captcha_input label{font-weight:normal !important}
.captcha_input label{width:90px;margin:0 0 0 1px}
.captcha_input input{direction:ltr}
#reg_form_box .editor{margin:0 0 7px 0}
#reg_box{padding:0;margin:0}
#reg_box .label{color:#1d2a5b;text-align:right;font-weight:bold;padding-right:3px;width:90px}
#reg_box .inputtext, #reg_box .inputpassword{width:206px;border-color:#96a6c5;margin-top:2px}
#reg_box select{margin:2px 0 0 0}
.ff2 #reg_box select,
.ff3 #reg_box select{border-color:#96a6c5}
#reg_box #birthday_warning{font-size:9px;margin-left:1px}
#reg_progress{font-size:13px !important;text-align:center;margin:0;font-weight:bold;padding:0}
#reg_progress img{margin-right:15px}
#reg_progress #progress_wrap{padding:80px 0 0 0;margin:0;text-align:center}
#reg_progress .popup_retry{font-weight:normal;margin:auto;text-align:center;width:200px}
#terms{margin:0 5px 0 0}
#reg_form_box .reg_terms_box{margin-left:95px;padding-top:15px}
#openid_buttons_box{background:#fff9d7;border:solid 1px #e2c822;font-size:10ipx;margin:0 0 10px 0;padding:10px}
select#openid_buttons_box{font-size:11px}
p.legal_tos{color:#555;font-size:9px;padding:0;margin:0 0 10px 0}
.option_field{margin-bottom:10px}
.option_field label{font-weight:normal !important}
#captcha_whatsthis{display:none}
#captcha_response{margin-left:10px;border:1px solid #bdc7d8;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;padding:3px}
#reg_form_box .reg_btn{margin:0 0 0 95px}
#reg_form_box .reg_btn .UIButton,
#captcha_buttons .UIButton{display:block;float:left}
#reg_form_box #cancel_button{float:left}
#reg_error,
#captcha_error{background:#ffebe8;border:1px solid #dd3c10;line-height:15px;margin:10px 0 0 0;text-align:center;height:0;overflow:hidden}
#reg_error_inner{padding:7px 3px 7px 3px}
#reg_captcha{margin:0;padding:10px 0 0 0;line-height:16px}
#reg_captcha h2{color:#1d2a5b;padding-bottom:3px}
#reg_captcha #captcha div.captcha_input{margin:5px 0 7px 0;overflow:hidden}
#reg_captcha #captcha_buttons{padding:0;margin:5px 0 0 0;padding:10px 0 0 0;text-align:left;display:block;overflow:hidden}
#captcha_buttons .gridCol{float:left;overflow:hidden;margin:0}
#captcha_buttons #A_btn_sign_up{width:160px}
#captcha_buttons #back_button{width:101px}
* html table.editor select{margin-left:1px}
#reg_captcha #cancel_button{float:left;font-size:12px;line-height:14px;font-weight:bold;border:0 solid transparent;color:#3b5998;margin:6px 0 0 0;width:75px}
#reg_captcha .cancel_button_image{float:left;width:12px;height:17px;margin:6px 0 0 0;background-image:url(/rsrc.php/z1Q24/hash/1v8g26vu.png);background-position:middle left;background-repeat:no-repeat}
.ie6 #reg_captcha .cancel_button_image{background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/rsrc.php/z1Q24/hash/1v8g26vu.png", sizingMethod="crop")}

#bootloader_css_3vi11zh8tv28sgg0_pkg_css { height: 42px; }