/* black top bar */

body #notification-bar {
	margin:0;
	background:#111;
	padding:2px;
	color:#fff;
	line-height:14px;
	}

body #notification-bar a:link, body #notification-bar a:visited {
	color:#fff;
	}

body, p.spotlight, #myo-nav ul, #myo-login, #myo-login p {
	margin:0;
	padding:0;
	}

#wrap0 {
	clear:both;
	position:relative;
	}

#myo img {
	border:none;
	}

#myo-logo {
	float:left;
	width:86px;
	height:50px;
	margin:0 20px;
	}

#myo .show {
	line-height:15px;
	height:auto;
	overflow:auto;
	padding:16px 0 7px 0;
	}

#myo .indent {
	width:0px;
	overflow:hidden;
	position:absolute;
	text-indent:-999em;
	}

.mobile, .hide, .handheld, #myo .hide {
	display:none !important;
	}

#myo, #myo-login, #notification-bar {
	line-height:1;
	font-family:'trebuchet ms', 'lucida grande', 'lucida sans unicode', arial, helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	}

#myo {
	background:#222 url(/community/graphics/users/topmenu2/sprites.png);
	color:#fff;
	height:50px;
	text-align:center;
	position:relative;
	z-index:9999;
	}

#myo2 {
	width:920px;
	text-align:left;
	margin:0 auto;
	min-width:600px;
	position:relative;
	}

#myo a, #myo a:link, #myo a:visited, #notification-bar a, #notification-bar a:link, #notification-bar a:visited {
	color:#fff;
	}

#myo a:hover {
	text-decoration:none;
	}

#myo-nav ul {
	width:328px;
	display:inline;
	float:right;
	margin:26px 0 0 0;
	}

#myo-nav li {
	display:inline;
	float:left;
	margin:0 0 0 4px;
	width:78px;
	list-style:none;
	list-style-position:outside;
	font-size:11px;
	text-align:center;
	}

#myo-nav a:link, #myo-nav a:visited, #myo-nav a:active {
	display:block;
	width:78px;
	line-height:24px;
	background:#222 url(/community/graphics/users/topmenu2/sprites.png) 0 -50px;
	text-decoration:none;
	color:#fff;
	overflow:hidden;
	}

#myo-nav li.on a:link, #myo-nav li.on a:visited, #myo-nav li.on a:active, #myo-nav a:hover {
	background:#fff url(/community/graphics/users/topmenu2/sprites.png) 0 -74px;
	color:#222;
	}

/* user links */

#user-info {
	float:left;
	width:550px;
	font-size:11px;
	height:50px;
	}

#useravatar {
	display:block;
	float:left;
	width:50px;
	height:50px;
	margin:0 10px 0 0;
	overflow:hidden;
	}

#useravatar img {
	display:block;
	}

#editme {
	position:absolute;
	display:block;
	width:60px;
	height:60px;
	}

#editme:hover #changepic {
	display:block !important;
	position:absolute;
	width:14px;
	height:14px;
	top:0px;
	left:37px;
	z-index:999999;
	}

#user-info p {
	line-height:15px;
	margin:0;
	}

#userlinx	{
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:64px;
	z-index:99992;
	}

#userlinx li {
	display:block;
	float:left;
	line-height:50px;
	margin:0 10px 0 0;
	padding:0 0 10px 0;
	list-style:none;
	color:#555;
	font-weight:bold;
	position:relative;
	white-space:nowrap;
	}

#userlinx a {
	font-weight:normal;
	}

#userlinx span {
	display:block;
	height:50px;
	}

#userlinx ul span {
	display:block;
	background:transparent url(/community/graphics/main/icons2.gif) 0px -2856px no-repeat;
	height:24px;
	}

#userlinx .i-drop {
	padding-right:13px;
	background:transparent url(/community/graphics/main/icons2.gif) 100% -1642px no-repeat;
	}

#userlinx #inbox {
	padding-left:21px;
	background:transparent url(/community/graphics/main/icons2.gif) 0 -1715px no-repeat;
	}

#userlinx #friendrequest {
	padding-left:21px;
	background:transparent url(/community/graphics/main/icons2.gif) 0 -852px no-repeat;
	}

#userlinx b {
	margin:0 1px;
	color:#fff;
	}

#userlinx ul {
	position:absolute;
	width:161px;
	padding:0;
	top:37px;
	left:0;
	margin-left:-1000em;
	background:#222;
	z-index:99993;
	}

#userlinx li:hover ul, #userlinx li.sfhover ul {
	margin-left:0;
	}

#userlinx li a:focus + ul, #userlinx li:hover a:focus, #userlinx li.sfhover a.sffocus {
	margin-left:0;
	}

#userlinx ul li {
	min-width:159px;
	width:159px;
	padding:0;
	margin:0;
	height:24px;
	background:#222 url(/community/graphics/main/icons2.gif) 0px -2880px repeat-x;
	list-style:none;
	border:1px solid #000;
	border-width:0 1px 1px 1px
	}

#userlinx ul a:link, #userlinx ul a:visited, #userlinx ul a:active {
	display:block;
	background:transparent url(/community/graphics/main/icons2.gif) 6px 0px no-repeat;
	padding:0 0 0 35px;
	border:none;
	color:#fff;
	line-height:24px;
	text-decoration:none;
	}

#userlinx ul.drop a:hover, #userlinx ul.drop a.sffocus {
	background-color:#111;
	font-weight:normal;
	}

/* log in and sign up */

#myo-signup {
	margin:0;
	float:left;
	line-height:50px;
	color:#555;
	font-size:11px;
	}

#myo-signup span {
	padding:0 3px;
	}

.hidelogin {
	visibility:hidden !important;
	height:0 !important;
	line-height:1px !important;
	overflow:hidden !important;
	border:none !important;
	}

.show {
	visibility:visible;
	}

#myo-login {
	clear:both;
	background:#222 url(/community/graphics/users/topmenu2/sprites.png);
	position:relative;
	color:#fff;
	border-bottom:1px solid #000;
	height:38px;
	overflow:hidden;
	}

#myo-login p {
	padding:8px 20px;
	}

#myo-login input {
	font-size:11px;
	}

#myo-login label {
	padding-right:5px;
	white-space:nowrap;
	}
